---
title: Welcome to HeNTAi
layout: splash
header:
  image: /assets/images/main_splash2.jpg
intro:
  - excerpt: "Welcome to the website of HeNTAi, one of the biggest clubs in Tampere University!"

  - excerpt: "**Our activities include:**

   - Watching anime in the clubroom or sometimes in lecture halls

   - Hanging out at the clubroom

   - Occasional projects, like a building a giant mecha

   - Hosting events, like grilling or sauna.

   - Attending events, like Tracon.

   - Watching movies in lecture halls.

"
  
feature_row:
  - image_path: /assets/images/animeclub.jpg
    title: Self-deprecating humor!
  - image_path: /assets/images/feat2.jpg
    title: In-depth Discussions!
  - image_path: https://i0.kym-cdn.com/photos/images/facebook/001/125/510/9cb.png
    title: Smug anime girls!

current_series:
  - title: Current series
    type: center
    excerpt: "
We watch two concurrent series chosen by our hosts on Fridays.
Time and place is usually at 17:15 in our clubroom.
Check our calendar for episodes we are watching on specific Friday.
"
  - image_path: https://image.tmdb.org/t/p/original/ioCuc65eEnAjulwjd9i8nOuIcRV.jpg
    type: left
    title: Suzumiya Haruhi no Yuuutsu
    excerpt: "
Kyon, your typical high school student, has long given up his belief in the
supernatural. However, upon meeting Haruhi Suzumiya, he quickly finds out that
it is the supernatural that she is interested in—aliens, time travelers, and
espers among other things. When Haruhi laments about the lack of intriguing
clubs around school, Kyon inspires Haruhi to form her own club. As a result,
the SOS Brigade is formed, a club which specializes in all that is the
supernatural.


Much to his chagrin, Kyon, along with the silent bookworm, Yuki Nagato, the shy
and timid Mikuru Asahina, and the perpetually smiling Itsuki Koizumi, are
recruited as members. The story follows the crazy adventures that these four
endure under their whimsical leader, Haruhi. The story is based on the light
novels by Nagaru Tanigawa.


[Written by MAL Rewrite]
"
  - image_path: https://image.tmdb.org/t/p/w220_and_h330_face/7cCFzTvhpU27G2hK1aIFQ6DLVlJ.jpg
    type: right
    title: Tsuredure Children
    excerpt: "
Young love—it takes many unique and fascinating forms that flourish as children
begin to mature into adults. From being unable to confess to not knowing what
real love actually feels like, various obstacles can arise when learning about
romantic attraction for the first time. But underneath all that, young love is
something truly beautiful to behold, leading to brand new experiences for those
young and in love.


Tsurezure Children depicts various scenarios of young love coming to fruition,
along with the struggles and joys that it entails.


[Written by MAL Rewrite]
"

---
{% include feature_row id="intro" type="center" %}
{% include current_series %}
<center>
Images courtesy of <a href="https://www.themoviedb.org/">TMDB</a>.
<!--
<p id="status">Clubroom status not found!</p>
-->
</center>
<!-- RIP Clubroom light detector
<script>
	fetch("https://nkante.site:8080")
		.then(function(response) {
			if (response.ok) {
		        response.text().then(function(contents) {
					if (contents.includes("<b>ON</b>")) {
    		    	document.getElementById("status").innerHTML = "Clubroom lights are <b>ON</b>";
					} else {
    		    	document.getElementById("status").innerHTML = "Clubroom lights are <b>OFF</b>";
					}
		        });
			} else {
				throw new Error("Status could not be retrieved. Please contact the club authorities.");
			}
		}).catch(function(error) {
			document.getElementById("status").innerText = error.message;
		});
</script>
-->

