---
title: Welcome to HeNTAi
layout: splash
header:
  image: /assets/images/main_splash2.jpg
intro:
  - excerpt: Welcome to the website of HeNTAi, one of the biggest clubs in Tampere University!
  - excerpt: '**Our activities include:**
    - Watching anime in the clubroom or sometimes in lecture halls
    - Hanging out at the clubroom
    - Occasional projects, like a building a giant mecha
    - Hosting events, like grilling or sauna.
    - Attending events, like Tracon.
    - Watching movies in lecture halls.'

feature_row:
  - image_path: /assets/images/animeclub.jpg
    title: Self-deprecating humor!
  - image_path: /assets/images/feat2.jpg
    title: In-depth Discussions!
  - image_path: https://i0.kym-cdn.com/photos/images/facebook/001/125/510/9cb.png
    title: Smug anime girls!

current_series:
  - title: Current series
    type: center
    excerpt: |
      We watch two concurrent series chosen by our hosts on Fridays.
      Time and place is usually at 17:15 in our clubroom.
      Check our calendar for episodes we are watching on specific Friday.

  - image_path: https://image.tmdb.org/t/p/original/kk8JJA0BhrM3AjzuZuPMV72kSLl.jpg
    type: left
    title: HNTA Anime nights are finished for the year
    excerpt: |
      See you next year!

  - image_path: https://image.tmdb.org/t/p/original/kf7aiSIFDP1tkxsqckgWxIyuumw.jpg
    type: right
    title: Bokusatsu Tenshi Dokuro-chan
    excerpt: |
      Cory Baxter moves to the White House in Washington, DC when his father
      Victor, is named the new personal White House chef of the President.
      [Synopsis by IMDB]

---
{% include feature_row id="intro" type="center" %}
{% include current_series %}

<center>
Images courtesy of <a href="https://www.themoviedb.org/">TMDB</a>.

<!--
  <p id="status">Clubroom status not found!</p>
-->
</center>
<!-- RIP Clubroom light detector
  <script>
    fetch("https://nkante.site:8080")
      .then(function(response) {
        if (response.ok) {
          response.text().then(function(contents) {
            if (contents.includes("<b>ON</b>")) {
              document.getElementById("status").innerHTML = "Clubroom lights are <b>ON</b>";
            } else {
              document.getElementById("status").innerHTML = "Clubroom lights are <b>OFF</b>";
            }
          });
        } else {
          throw new Error("Status could not be retrieved. Please contact the club authorities.");
        }
      }).catch(function(error) {
    document.getElementById("status").innerText = error.message;
  });
</script>
-->

